!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
  %body
    %header チャットグループが作成されました。
  %table
    %tr
      %th#box1 左上のBOX
      %th#box2 右上のBOX
    %tr
      %td#box3 左下のBOX
      %td#box4 右下のBOX

