.header
  チャットグループが作成されました。
.left-content
  .small-box1
    %span 親の顔より見たコメント
    %span.icons.icon.fa.fa-pencil-square-o
    %span.icons.fa.fa-cog

  .small-box2
    .small-box2_space
    %ul
      %li.main_m これ出来てるのでは？
      %li.sub_m まだメッセージはありません。
      %li.main_m いや、有りでしょ？
      %li.sub_m まだメッセージはありません。
      %li.main_m もう許してよ！
      %li.sub_m まだメッセージはありません。
      %li.tmain_m いつやるの？(半ギレ)
      %li.sub_m まだメッセージはありません。

.right-content
  .small-box3
    %span.box3-1 チーム夜型人間ズ
    %span.editbox Edit
    .box3-2 午前中は、死亡遊戯...

  .small-box4
    .small-box4_space
    .box4-1 三十にして立つ。
    %span.box4-2 2016/04/02
    .box4-3 既に、31ですがそれは、、、
    .box4-1 四十にして惑わず。
    %span.box4-2 2016/04/02
    .box4-3 １０年以内に惑わなくなる気がしない。
    .box4-1 五十にして天命を知る。
    %span.box4-2 2016/04/02
    .box4-3 もっと早く知りたい。

  .footer
    %textarea.textbox Type a message
    %span.sendbox Send
    %span.picture.fa.fa-image
