.header
  チャットグループが作成されました。
.left-content
  .left-content__box1
    %span 親の顔より見たコメント
    %span.left-content__icons.icon.fa.fa-pencil-square-o
    %span.left-content__icons.fa.fa-cog

  .left-content__box2
    .left-content__box2--space
    %ul
      %li.left-content__box2--main_m これ出来てるのでは？
      %li.left-content__box2--sub_m まだメッセージはありません。
      %li.left-content__box2--main_m いや、有りでしょ？
      %li.left-content__box2--sub_m まだメッセージはありません。
      %li.left-content__box2--main_m もう許してよ！
      %li.left-content__box2--sub_m まだメッセージはありません。
      %li.left-content__box2--main_m いつやるの？(半ギレ)
      %li.left-content__box2--sub_m まだメッセージはありません。

.right-content
  .right-content__box1
    %span.right-content__box1--main チーム夜型人間ズ
    %span.right-content__box1--edit Edit
    .right-content__box1--sub 午前中は、死亡遊戯...

  .right-content__box2
    .right-content__box2--space
    .right-content__box2--main-m 三十にして立つ。
    %span.right-content__box2--date 2016/04/02
    .right-content__box2--sub-m 既に、31ですがそれは、、、
    .right-content__box2--main-m 四十にして惑わず。
    %span.right-content__box2--date 2016/04/02
    .right-content__box2--sub-m １０年以内に惑わなくなる気がしない。
    .right-content__box2--main-m 五十にして天命を知る。
    %span.right-content__box2--date 2016/04/02
    .right-content__box2--sub-m もっと早く知りたい。

  .right-content__box3
    %textarea.right-content__box3--textbox Type a message
    %span.right-content__box3--sendbox Send
    %span.right-content__box3--picture.fa.fa-image
