.header
  チャットグループが作成されました。
.left-content
  .left-content__header
    %span 親の顔より見たコメント
    %span.left-content__icon.icon.fa.fa-pencil-square-o
    %span.left-content__icon.fa.fa-cog

  .left-content__text
    .left-content__text_space
    %ul
      %li.left-content__text_message1 これ出来てるのでは？
      %li.left-content__text_message2 まだメッセージはありません。
      %li.left-content__text_message1 いや、有りでしょ？
      %li.left-content__text_message2 まだメッセージはありません。
      %li.left-content__text_message1 もう許してよ！
      %li.left-content__text_message2 まだメッセージはありません。
      %li.left-content__text_message1 いつやるの？(半ギレ)
      %li.left-content__text_message2 まだメッセージはありません。

.right-content
  .right-content__header
    %span.right-content__message1 チーム夜型人間ズ
    %span.right-content__edit Edit
    .right-content__message2 午前中は、死亡遊戯...

  .right-content__body
    .right-content__space
    .right-content__message3 三十にして立つ。
    %span.right-content__date 2016/04/02
    .right-content__message4 既に、31ですがそれは、、、
    .right-content__message3 四十にして惑わず。
    %span.right-content__date 2016/04/02
    .right-content__message4 １０年以内に惑わなくなる気がしない。



  %form.footer
    %textarea.footer__text Type a message
    %input{class: "input", type: "submit", value: "Send"}
    %span.footer__picture.fa.fa-image
