.header
  チャットグループが作成されました。
.left-content
  .small-box1
    %span 親の顔より見たコメント
    %span.d.icon.fa.fa-pencil-square-o
    %span.d.fa.fa-cog

  .small-box2
    .eee
    %ul
      %li.th これ出来てるのでは？
      %li.td まだメッセージはありません。
      %li.th いや、有りでしょ？
      %li.td まだメッセージはありません。
      %li.th もう許してよ！
      %li.td まだメッセージはありません。
      %li.th いつやるの？(半ギレ)
      %li.td まだメッセージはありません。

.right-content
  .small-box3
    %span.box3-1 チーム夜型人間ズ
    %span.editbox Edit
    %div.box3-2 午前中は、死亡遊戯...

  .small-box4
    .fff
    %div.box4-1 三十にして立つ。
    %span.box4-2 2016/04/02
    %div.box4-3 既に、31ですがそれは、、、
    %div.box4-1 四十にして惑わず。
    %span.box4-2 2016/04/02
    %div.box4-3 １０年以内に惑わなくなる気がしない。
    %div.box4-1 五十にして天命を知る。
    %span.box4-2 2016/04/02
    %div.box4-3 もっと早く知りたい。

  .footer
    %textarea.textbox Type a message
    %span.sendbox Send
    %span.picture.fa.fa-image
