= render 'shared/side_bar'

.right-content
  .right-content__header
    %span.right-content__message1 チーム夜型人間ズ
    %span.right-content__edit Edit
    .right-content__message2 午前中は、死亡遊戯...

  .right-content__body
    .right-content__space
    .right-content__message3
    %span.right-content__date
    .right-content__message4
    .right-content__message3
    %span.right-content__date
    .right-content__message4

  %form.footer
    %textarea.footer__text Type a message
    %input{class: "input", type: "submit", value: "Send"}
    %span.footer__picture.fa.fa-image
