= render 'shared/side_bar'

<<<<<<< Updated upstream
=======
.right-content
  .right-content__header
    %span.right-content__message1 チーム夜型人間ズ
    %span.right-content__edit Edit
    .right-content__message2 午前中は、死亡遊戯...

  .right-content__body
    .right-content__space
    .right-content__message3 三十にして立つ。
    %span.right-content__date 2016/04/02
    .right-content__message4 既に、31ですがそれは、、、
    .right-content__message3 四十にして惑わず。
    %span.right-content__date 2016/04/02
    .right-content__message4 １０年以内に惑わなくなる気がしない。



  %form.footer
    %textarea.footer__text Type a message
    %input{class: "input", type: "submit", value: "Send"}
    %span.footer__picture.fa.fa-image
>>>>>>> Stashed changes
