.header {
  background-color: $header-color;
  color: $white;
  text-align: center;
  width: 100%;
}

.left-content {
  width: 300px;
  height: 100vh;
  float: left;
  color: $white;
  overflow: hidden;

  &__header {
    height: 90px;
    background-color: $box1-color;
    padding: 0 20px;
    font-size: $size_16;
    line-height: 90px;
    font-weight: bold;
  }

  &__icon {
    float: right;
    margin-right: 5px;
    line-height: 90px;
  }

  &__text {
    height: calc(100% - 90px);
    background-color: $box2-color;
    padding: 0 20px;
    overflow: scroll;

      &_space {
        box-sizing: border-box;
        padding: 20px 0 0;
      }

      &__name {
        font-size: $size_15;
        color: white;
        text-decoration: none;
        list-style: none;
      }

      &__message {
        font-size: $size_11;
        color: white;
        margin-top: 5px;
        padding-bottom: 40px;
        text-decoration: none;
        list-style: none;
      }
  }
}

.right-content {
  width: calc(100vw - 300px);
  float: left;
  overflow: hidden;

  &__header {
    height: 90px;
    background-color: $white;
    padding: 0 40px;
    position: relative;
  }

  &__message1 {
    font-size: $size_20;
    color: $black;
    position: absolute;
    top: 30px;
  }

  &__message2 {
    font-size: $size_12;
    color: $gray;
    position: absolute;
    top: 60px;
  }

  &__edit {
    color: $header-color;
    margin-top: 28px;
    padding: 8px 20px 8px 20px;
    border: 1px solid $header-color;
    float: right;
  }

  &__body {
    height: calc(100vh - 180px);
    background-color: $box4-color;
    padding: 0  40px;
    overflow: scroll;
  }

  &__space {
    padding-top: 46px;
    background-color: $box4-color;
  }

  &__message3 {
    font-size: $size_16;
    font-weight: bold;
    color: $thinblack;
    display: inline-block;
    padding: 0px 10px 10px 0;
  }

  &__date {
    font-size: $size_12;
    color: $gray;
    display: inline-block;
  }

  &__message4 {
    font-size: $size_14;
    color: $thinblack;
    padding-bottom: 37px;
  }
}

.form {
    background-color: $footer;
    height: 50px;
    padding: 20px 50px 20px 40px;

    &__text {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }

    &__picture {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;

      &__image {
        font-size: $size_20;
        line-height: 50px;
      }

      .hidden {
        display: none;
      }

    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: $size_16;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
